<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row">
       
        <!-- End of .col-sm-6 -->

        <div class="col-sm-12 col-md-12 col-lg-12">
        <ul style="text-align: center;">
          
            <li><h3>Connect with us Socially</h3></li> 
            <!-- <li><a href="https://twitter.com/jamshedpur_nit?s=08"><i class = "fa fa-twitter fa-2x"></i></a> -->

            <li><a href="https://twitter.com/jamshedpur_nit?s=08" target="_blank"><i class="fab fa-twitter "></i>  Twitter</a></li>
            <li><a href="https://www.facebook.com/NITJamshedpurOfficial/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
            <li><a href="https://www.instagram.com/nitjamshedpur_official/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fschool%2Fnational-institute-of-technology-jamshedpur%2Fmycompany%2F" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
        </ul>
        <ul style="text-align: center;">
            <br><br><br>

            <li><h3> NATIONAL INSTITUTE OF TECHNOLOGY, JAMSHEDPUR </h3></li>
            <li><h3>P.O: NIT Jamshedpur, Jharkhand</h3></li>
            <li><h3>India,  pin: 831014</h3></li>
            <li><h3>+91-657-237-4108 (O)  (Director)</h3></li>
            <li><h3>+91-657-237-3246  (Fax)</h3></li>
          </ul>
        </div>
        <!-- End of .col-sm-6 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>©Copyright 2021. All rights reserved.</h5>
    <h6>Design and Developed by <a href="">Chandrashekhar Prajapati & Adarsh Tiwari</a></h6>
  </div>
</footer> <!-- end footer -->


    <!-- end Footer Area
    ========================================== -->
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script  src="/plugins/google-map/gmap.js"></script>

    <!-- Form Validation -->
    <script src="/plugins/form-validation/jquery.form.js"></script>
    <script src="/plugins/form-validation/jquery.validate.min.js"></script>

    <!-- Bootstrap4 -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Parallax -->
    <script src="/plugins/parallax/jquery.parallax-1.1.3.js"></script>
    <!-- lightbox -->
    <script src="/plugins/lightbox2/dist/js/lightbox.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/plugins/slick/slick.min.js"></script>
    <!-- filter -->
    <script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- Smooth Scroll js -->
    <script src="/plugins/smooth-scroll/smooth-scroll.min.js"></script>

    <!-- Custom js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="/js/script.js"></script>

  </body>
  </html>
