      <!-- footer -->
      <footer class = "footer">
        <div class = "footer-container">
            <div class="icon">
                <ul class = "social-icons">
                    <li class = "flex">
                        <a href="https://twitter.com/jamshedpur_nit?s=08/"><i class = "fa fa-twitter fa-2x"></i></a>
                    </li>
                    <li class = "flex">
                        <a href="https://www.facebook.com/NITJamshedpurOfficial/"><i class = "fa fa-facebook fa-2x"></i></a>  
                    </li>
                    <li class = "flex">
                        <a href="https://www.instagram.com/nitjamshedpur_official/"><i class = "fa fa-instagram fa-2x"></i></a>     
                    </li>
                    <li class = "flex">
                        <a href="https://www.linkedin.com/school/national-institute-of-technology-jamshedpur/mycompany/"><i class = "fa fa-linkedin fa-2x"></i></a>     
                    </li>
                </ul>
            </div>
      
               
            <div class = "contact-item">
                <br>
                <ul>
                    <li class = "flex"><i class = "fas fa-map-marker-alt"><p style="font-size: 25px;">  NATIONAL INSTITUTE OF TECHNOLOGY, JAMSHEDPUR</p></i></li>
                    <li class = "flex"><p>P.O: NIT Jamshedpur, Jharkhand</p></li>
                    <li class = "flex"><p> India,  pin: 831014</p></li>
                    <br>
                    <li class = "flex"><i class = "fas fa-phone-alt"></i><p>+91-657-237-4108 (O)  (Director)</p></li>
                    <li class = "flex"><i class = "fas fa-phone-alt"></i><p>+91-657-237-3246  (Fax)</p></li>
                </ul>
            </div>
        </div>
      </footer>
      <!-- end of footer -->
      <a href="#" class="gotopbtn"> <i class="fas fa-arrow-alt-circle-up"></i></a>
      <script src="/js/copyscript.js"></script>
      </body>
      </html>