<!DOCTYPE html>
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="BLOGS responsive HTML Template ">

  <meta name="author" content="Themefisher.com">

  <title>Nit-jsr</title>
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="/plugins/lightbox2/dist/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
  
  

</head>

<body id="body">

 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->




<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top"  style="background-color: rgb(19, 65, 65);">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
    <img src="/imagescopy/nit-jamshedpur.png" width="55px">
    <H1  style="color: rgb(149, 66, 7);  border-radius: 5px; border-bottom: 2px solid red;">NITJSR</H1> 

     <!-- <H1>NIT JAMSHEDPUR</H1>  -->
      <!-- /logo -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" style="background: rgb(41, 80, 252);">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link " href="/" id="navbarDropdown" role="button" 
              aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
              Home
            </a>
           </li> 
					 <li class="nav-item ">
            <a class="nav-link" href="/contact"  style="font-size: 20px;">Apply</a>
          </li>
		  
		<li class="nav-item ">
			<a class="nav-link" href="logout" style="font-size: 20px;">Logout</a>
		</li>
           
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>

<section class="single-page-header" style="background-image: url(imagescopy/NITcover.jpg) ;" >

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>NATIONAL INSTITUTE OF TECHNOLOGY</h1>
				<h2>JAMSHEDPUR</h2>
        <h4>An Institute of National Importance Established by Government of India</h4>
			</div>
		</div>
	</div>
</section>

<nav class=" special-hover navigation navbar navbar-expand-lg navbar-light"  style="background-color: rgb(113, 228, 222);" >
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
	  aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>


  <div class="navforhostel">
	<div class="collapse navbar-collapse" id="navigation" >
	  <ul class="navbar-nav ml-auto ">
		
			<li class="nav-item  "><a class="nav-link " href="http://www.nitjsr.ac.in/academics/" style="font-size: 18px;color:black ">Academic </a></li>
			<li class="nav-item  "><a class="nav-link " href="http://www.nitjsr.ac.in/pnd/" style="font-size: 18px;color:black ">Planing & Development </a></li>
			<li class="nav-item  "><a class="nav-link " href="/hostelhome" style="font-size: 18px; color:black">Hostel </a></li>
		 
	  </ul>
  </div>
	</div>
  </nav>
  <!-- /main nav -->

<%- include("partials/footer") -%>
