<%- include("partials/header-hostel") -%>
<title>Boys Hostel I</title>
    </head>
    <body>

<!-- header -->
 <header class = "headerI" id = "header">
        
  <div class = "head-top">
    
      <!-- <div class = "site-name"> -->
          <div><p data-text="Hostel I" class="hostel"> Hostel I<p>
            <!-- <img src="/imagescopy/HostelA.jpeg" alt="No image found">  -->
        </div>
        
      <!-- </div> -->
      <div class = "site-nav">
          <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
      </div>
  </div>


</header>
<!-- end of header -->

<!-- side navbar -->
<div class = "sidenav" id = "sidenav">
  <span class = "cancel-btn" id = "cancel-btn">
      <i class = "fas fa-times"></i>
  </span>

  <ul class = "navbar">
      <li><a href = "/"><i class="fas fa-home"></i>home</a></li>
      <li><a href = "#services"><i class="fas fa-concierge-bell"></i>services</a></li>
      <li><a href = "#contacts"><i class="fas fa-phone-volume"></i>Contacts</a></li>
      <li><a href = "http://www.nitjsr.ac.in/" target="_blank"><i class="fas fa-search"></i>Official Website</a></li>
  </ul>
</div>
<!-- end of side navbar -->

<!-- fullscreen modal -->
<div id = "modal"></div>
<!-- end of fullscreen modal -->

<!-- body content  -->

<section class = "contacts" id = "contacts">
    <div class = "sec-width">
        <div class = "title">
            <h2>Contact Us</h2>
        </div>
        <div class = "contacts-container">
            <!-- single contact -->
            <div class = "contact">
                
                <h3>Chief Warden</h3>
                <img src = "/imagescopy/nigam_prakash.jpg" alt = "image here">
                <span>Mr. Nigam Prakash</span>
                <p>Phone: 9973771555</p>
                <p>Email:<a href="mailto: chiefwarden@nitjsr.ac.in">chiefwarden@nitjsr.ac.in</a></p>
                     
                
            </div>
            <!-- end of single contact -->
            <!-- single contact -->
            <div class = "contact">
                
                <h3>Warden I/C (Boys)</h3>
                <img src = "/imagescopy/Dr_laljee.jpg" alt = "image here">
                <span>Dr. Laljee Prasad</span>
                <p>Phone: 9470144092</p>
                <p>Email:<a href="mailto: wardenic.boys@nitjsr.ac.in">wardenic.boys@nitjsr.ac.in</a></p>
                
                
                <p>Email:<a href="mailto: lprasad.me@nitjsr.ac.in">lprasad.me@nitjsr.ac.in</a></p>
                
            </div>
            <!-- end of single contact -->
            <!-- single contact -->
            <div class = "contact">
                
                <h3>Warden</h3>
                <img src = "/imagescopy/Dr_jitendra.jpg" alt = "image here">
                <span>Dr. Jitendra Kumar</span>
                <p>Phone: 7579482895</p>
                <p>Phone: 0657-237-4163 (O)</p>
                <p>Email:<a href="mailto: warden.i@nitjsr.ac.in">warden.i@nitjsr.ac.in</a></p>
                
                <p>Email:<a href="mailto: Jitendra.ee@nitjsr.ac.in">Jitendra.ee@nitjsr.ac.in</a></p>
            </div>
            <!-- end of single contact -->
            
            <!-- single contact -->
            <div class = "contact">
                
                <h3>Warden</h3>
                <img src = "/imagescopy/Dr_Dinesh.jpg" alt = "image here">
                <span>Dr. Dinesh Kumar</span>
                <p>Phone: 9084932611</p>
                <p>Phone: 0657-237-4163 (O)</p>
                <p>Email:<a href="mailto: warden2.i@nitjsr.ac.in">warden2.i@nitjsr.ac.in</a></p>
                
                <p>Email:<a href="mailto: dinesh.prod@nitjsr.ac.in">dinesh.prod@nitjsr.ac.in</a></p>
            </div>
            <!-- end of single contact -->
            
            <!-- single contact -->
            <div class = "contact">
                
                <h3>Supervisor</h3>
                <img src = "/imagescopy/bobby.png" alt = "image here">
                <span>Mr. Chaman Lal</span>
                <p>Phone: 8521614611</p>
                <p>Email:<a href="mailto: chamanlal@nitjsr.ac.in">chamanlal@nitjsr.ac.in</a></p>
                
            </div>
            <!-- end of single contact -->
        
    </div>
    </div>
</section>

<section class = "services sec-width" id = "services">
    <div class = "title">
        <h2>services</h2>
    </div>
    <div class="amenties">
    <p id="amenties">This hostel has a total capacity of 300 students. It offers the following amenities:
        <ul class="align-amenities">
         <li>Mess (Breakfast, Lunch, Refreshment, Dinner)</li>
         <li>Wi-Fi internet facility</li>
         <li>Guest Room</li>
         <li>Gymnasium</li>
         <li>Common room : Television with DTH facility</li>
         <li>Outdoor games facility</li>
         <li>Indoor games like carom, T.T.tables etc.</li>
      </ul>
      </p>
    </ul>
    </div>
    <br><br>
    </div>
</section>


<!-- end of body content -->

<%- include("partials/footer-hostel") -%>