<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="BLOGS responsive HTML Template ">

  <meta name="author" content="Themefisher.com">
  <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
  <title>Nit-jsr</title>

<!-- Mobile Specific Meta
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <!-- CSS
  ================================================== -->
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Lightbox.min css -->
  <link rel="stylesheet" href="/plugins/lightbox2/dist/css/lightbox.min.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/plugins/animate/animate.css">
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="/plugins/slick/slick.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">

</head>

<body id="body">

 <!--
  Start Preloader
  ==================================== -->
  <div id="preloader">
    <div class='preloader'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!--
  End Preloader
  ==================================== -->




<!--
Fixed Navigation
==================================== -->
<header class="navigation fixed-top"  style="background-color: rgb(19, 65, 65);">
  <div class="container">
    <!-- main nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- logo -->
    <img src="/imagescopy/nit-jamshedpur.png" width="55px">
    <H1  style="color: rgb(149, 66, 7);  border-radius: 5px; border-bottom: 2px solid red;">NITJSR</H1> 

     <!-- <H1>NIT JAMSHEDPUR</H1>  -->
      <!-- /logo -->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" style="background: rgb(41, 80, 252);">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item dropdown active">
            <a class="nav-link " href="/" id="navbarDropdown" role="button" 
              aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">
              Home
            </a>
           </li> 
					 <li class="nav-item ">
            <a class="nav-link" href="/contact"  style="font-size: 20px;">Apply</a>
          </li>
		  
		<li class="nav-item ">
			<a class="nav-link" href="logout" style="font-size: 20px;">Logout</a>
		</li>
           
        </ul>
      </div>
    </nav>
    <!-- /main nav -->
  </div>
</header>

<section class="single-page-header" style="background-image: url(imagescopy/NITcover.jpg) ;" >

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>NATIONAL INSTITUTE OF TECHNOLOGY</h1>
				<h2>JAMSHEDPUR</h2>
			</div>
		</div>
	</div>
</section>

  <div style="text-align: center;">
    
    <table class="table">
      <thead class="thead-dark">
       <tr>
        <th>Boy's Hostel</th>
        <th>Girl's Hostel</th>
       </tr>
      </thead>
    </table>      
       <div class="row" id="hostelview">
        <div class="col-sm-6 col-lg-6">
          <ul>
            <li><a class="hostelsubmenu" href="/HostelE">Hostel E</a></li>
            <li><a class="hostelsubmenu" href="/HostelF">Hostel F</a></li>
            <li><a class="hostelsubmenu" href="/HostelG">Hostel G</a></li>
            <li><a class="hostelsubmenu" href="/HostelH">Hostel H</a></li>
            <li><a class="hostelsubmenu" href="/HostelI">Hostel I</a></li>
            <li><a class="hostelsubmenu" href="/HostelJ">Hostel J</a></li>
            <li><a class="hostelsubmenu" href="/HostelK">Hostel K</a></li>
            <li><a class="hostelsubmenu" href="/Amb-hostel">Ambedkar Hostel</a></li>
            <li><a class="hostelsubmenu" href="/RBL-hostel">RBL Hostel </a></li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-6">
          <ul>
            <li><a class="hostelsubmenu" href="/HostelA">Hostel A</a></li>
            <li><a class="hostelsubmenu" href="/HostelB">Hostel B</a></li>
            <li><a class="hostelsubmenu" href="/HostelC">Hostel C</a></li>
            <li><a class="hostelsubmenu" href="/HostelD">Hostel D</a></li>
          </ul>
        </div>
      </div>
      <div style="text-align: center;">
    
        <table class="table">
          <thead class="thead-dark">
           <tr>
            <th><a href="http://nitjsr.ac.in/sw/hostel/pdf/Rules%20and%20regulations%20for%20all%20hostels%20of%20the%20Institute.pdf">RULES and Regulation of Hostels for Boarders</a></th>
           </tr>
          </thead>
        </table>      
     
     
    </div>
  <!-- /main nav -->
  

<%- include("partials/footer") -%>
