<%- include("partials/header") -%>

<!--
End Fixed Navigation
==================================== -->
<section class="single-page-header" style="background-image: url(images/blog/bp.jpg) ; padding: 140px 0 70px;" >

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Register</h2>
				
			</div>
		</div>
	</div>
</section>


<div class="jumbotron centered">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1 class="display-3">Register</h1>
      <hr>
      
      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
    
              <!-- Makes POST request to /login route -->
              <form action="/register-admin" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>

                <div class="form-group">
                  <label for="admin-code">Admin Code</label>
                  <input type="password" class="form-control" name="admincode">
                </div>
                
                <button type="submit" class="btn btn-dark">Register</button>
              </form>
    
            </div>
          </div>
        </div>
    </div>
  </div>

  
</div>

<%- include('partials/footer') %>
